<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Database.UserSettings"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/final_buymate_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/final_buymate_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingList"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".Widget.ShoppingWidgetProviderConfigureActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".Widget.ShoppingWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".ItemSuggestionActivity"
            android:exported="false" />
        <activity
            android:name=".AcknowledgmentsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentSuccessfulActivity"
            android:exported="false" />
        <activity
            android:name=".PremiumActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BackupActivity"
            android:exported="false" />
        <activity
            android:name=".RecoverPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".InsertPasscodeActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigurePasscodeActivity"
            android:exported="false" />
        <activity
            android:name=".CrossSettingActivity"
            android:exported="false" />
        <activity
            android:name=".DetailListShareSettingActivity"
            android:exported="false" />
        <activity
            android:name=".SwipeSettingActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateNoteActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNoteActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".ItemActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Widget.ShoppingWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shopping_widget_provider_info" />
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4208883735301832~7804742282"/>

    </application>

</manifest>